/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    color: #333;
}

/* Navigation Styles */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Container Styles */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Section Styles */
section {
    padding: 40px 0;
}

section h2 {
    font-size: 2.5em;
    color: #444;
    margin-bottom: 20px;
}

/* Card Styles for Projects, Experience, Education, and Hobbies */
.project-card, .experience-card, .education-card, .hobby-card, .skills-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover, .experience-card:hover, .education-card:hover, .hobby-card:hover, .skills-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.project-info, .experience-info, .education-info, .hobby-info, .skills-info {
    width: 70%;
}

.project-logo img, .experience-logo img, .education-logo img, .hobby-logo img, .skills-logo img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.project-card h3, .experience-card h3, .education-card h3, .hobby-card h3, .skills-card h3 {
    margin-bottom: 10px;
}

.project-card p, .experience-card p, .education-card p, .hobby-card p, .skills-card p {
    margin-bottom: 5px;
}

/* Gaming Subsection Styles */
.game-subsection {
    margin-top: 10px;
    padding-left: 20px;
}

.game-subsection h4 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #2c3e50;
}

/* Link Styles */
a {
    transition: color 0.3s ease;
}

a:hover {
    color: #3498db;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #3498db;
    text-decoration: underline;
}